@font-face {
    font-family: 'UniQAIDAR_Talabat 01';
    src: url('../fonts/UniQAIDAR_Talabat01.woff2') format('woff2'), url('../fonts/UniQAIDAR_Talabat01.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'UniQAIDAR_Talabat 01';
    src: url('../fonts/UniQAIDAR_Talabat01.woff2') format('woff2'), url('../fonts/UniQAIDAR_Talabat01.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'UniQAIDAR_Talabat 01';
    src: url('../fonts/UniQAIDAR_Talabat01.woff2') format('woff2'), url('../fonts/UniQAIDAR_Talabat01.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'UniQAIDAR_Talabat 01';
    src: url('../fonts/UniQAIDAR_Talabat01.woff2') format('woff2'), url('../fonts/UniQAIDAR_Talabat01.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jozoor Font';
    src: url('../fonts/AraJozoor-Regular.woff2') format('woff2'), url('../fonts/AraJozoor-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* =============== Main Rules =============== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-pirmary: #0067DC;
    --clr-secondry: #494949;
}

body {
    font-family: 'Jozoor Font', 'sans-serif';
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

::selection {
    color: #fff;
    background-color: var(--clr-secondry);
}

.primary-color {
    color: var(--clr-pirmary)
}


/* ==== Landing Section ====== */

.page-landing {
    min-height: 100vh;
}


/* ================ Navbar ================ */


/* top nav */

.top-nav {
    background-color: #F1F1F1;
    padding: 4px;
}

.top-nav-link {
    color: #AEAEAE;
    font-size: 19px;
    transition: 0.3s;
}

.top-nav li:not(:last-of-type) {
    margin-left: 10px;
}

.contact-info-box {
    color: var(--clr-secondry)
}

.contact-info-box i {
    color: var(--clr-pirmary)
}

.contact-info-box:not(:last-of-type) {
    margin-left: 19px;
}


/* navbar */

.navbar {
    position: absolute;
    width: 100%;
    background-color: #fff;
}

.navbar-toggler {
    color: var(--clr-pirmary);
    font-size: 23px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-link {
    color: var(--clr-secondry);
    font-size: 17px;
}

.nav-link:hover {
    color: var(--clr-pirmary)
}

.service-btn-nav {
    background-color: var(--clr-pirmary);
    padding: 9px 27px;
    color: #fff;
    border-radius: 11px;
    transition: 0.3s;
    border: 1px solid var(--clr-pirmary);
    box-shadow: 0 8px 15px rgba(0, 103, 220, 27%);
    display: inline-block;
}

.service-btn-nav:hover {
    background-color: #fff;
}

.service-btn-nav :focus {
    color: #fff
}

@media(min-width:992px) {
    .nav-item:not(:last-of-type) {
        margin-left: 14px;
    }
}


/* ======================= Header ======================= */

.header {
    margin-top: 100px;
}

.header-text h1 {
    font-size: 35px;
    color: var(--clr-secondry);
    font-family: "UniQAIDAR_Talabat 01", "sans-serif";
    line-height: 1.7;
}

@media(min-width:992px) {
    .header-text h1 {
        font-size: 45px;
        max-width: 440px;
    }
}

.header-text h1 span {
    color: var(--clr-pirmary)
}

.header-text p {
    font-size: 18px;
    color: #A3A3A3;
    line-height: 1.8;
    padding-top: 13px;
    padding-bottom: 25px;
}

.header-text a {
    background: linear-gradient(45deg, #0067DC, #2E85E6);
    padding: 11px 50px;
    color: #fff;
    font-size: 17px;
    border-radius: 13px;
    transition: 0.5s;
}

.header-text a:hover {
    background: linear-gradient(-45deg, #0067DC, #2E85E6);
}


/* ==================== About Us ==================== */

.about-us .text {
    background-color: #FAFAFA;
    border: 1px solid #DFDFDF;
    padding: 35px 15px;
    border-radius: 17px;
    min-height: 450px;
    text-align: center;
}

.about-us .text h2 {
    color: var(--clr-secondry);
}

.about-us .text h2::after {
    content: "";
    width: 50px;
    height: 4px;
    display: block;
    background-color: var(--clr-pirmary);
    border-radius: 5px;
    margin: 10px auto;
}

.about-us .text p {
    font-size: 22px;
    margin: 40px 0;
}

.about-us .image {
    background-color: var(--clr-pirmary);
    height: 100%;
    text-align: center;
    padding: 12px 30px;
    border-radius: 17px;
}

.about-us .image p {
    font-family: 'UniQAIDAR_Talabat 01', 'sans-serif';
    color: #fff;
    font-size: 21px;
    margin: 20px 0;
}


/* ====================== our services ===================== */

.our-services {
    background-color: #F2F2F2;
    padding: 50px 0;
}

.our-services h2 {
    font-size: 30px;
    color: var(--clr-secondry);
    text-align: center;
}

.our-services .container>p {
    font-size: 18px;
    text-align: center;
    padding: 15px 0;
}

.our-services .container>p::after {
    content: "";
    width: 40px;
    height: 5px;
    display: block;
    margin: 10px auto;
    background-color: var(--clr-pirmary);
    border-radius: 5px;
}

.our-services .container>p span {
    color: var(--clr-pirmary)
}

.service-box {
    min-height: 255px;
    background-color: #fff;
    padding: 12px 18px;
    border-radius: 17px;
    display: flex;
    flex-direction: column;
}

.service-box img {
    width: 51px;
    display: block;
    margin: 15px 0;
}

.service-box p {
    color: var(--clr-secondry);
    margin: 15px 0;
    font-size: 22px;
}

.service-box .d-flex {
    color: var(--clr-pirmary);
    margin-top: auto;
    font-size: 22px;
}

.contracts-electronic {
    max-width: 890px;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
}

.contracts-electronic-box {
    background-color: var(--clr-pirmary);
    padding: 15px;
    color: #fff;
    border-radius: 10px;
    height: 151px;
    font-size: 21px;
    text-align: center;
}

.contracts-electronic-box img {
    margin: auto
}

.contracts-electronic-box>* {
    display: block;
}

.contracts-electronic-box span {
    margin: 14px 0;
}


/* =================== Real Estates ================= */

.real-estates {
    padding: 50px 0;
}

.real-estates-box {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.205);
    border-radius: 15px;
    padding: 15px 10px;
    margin-bottom: 25px;
    max-width: 350px;
    margin-right: auto;
    margin-left: auto;
}

.real-estates-box img {
    width: 100%
}

.real-estates-box h4 {
    font-size: 20px;
    padding: 8px 0;
}

.real-estates-box p {
    color: #A9A9A9
}

.real-estates-box a {
    background-color: var(--clr-pirmary);
    padding: 4px 18px;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 20px #0067dc3d;
}

.real-estates-box span {
    color: var(--clr-pirmary);
}


/* ================ Offer Price =============== */

.price-offer {
    background-color: var(--clr-secondry);
    margin-top: 90px;
    padding: 40px 0;
}

.price-offer span {
    color: #fff;
    font-size: 20px;
}

.price-offer a {
    padding: 10px 50px;
    background-color: var(--clr-pirmary);
    border-radius: 8px;
    color: #fff;
    box-shadow: 0 8px 15px #0067dc42;
}


/* =================== Footer ===================== */

.footer {
    padding: 25px 0;
    background-color: #EBEBEB;
}

.footer-info p {
    font-size: 19px;
    margin-top: 12px;
    line-height: 1.8;
}

.footer-info span {
    font-family: 'UniQAIDAR_Talabat 01', 'sans-serif';
    display: block;
}

.footer-twitter {
    height: 300px;
    overflow: auto;
}

.footer-contact h3 {
    font-size: 23px;
    font-family: 'UniQAIDAR_Talabat 01', 'sans-serif';
    color: var(--clr-pirmary);
    margin-top: 25px;
}

.footer-contact h3::after {
    content: "";
    display: block;
    width: 40px;
    height: 5px;
    border-radius: 5px;
    background-color: var(--clr-secondry);
}

.footer-contact li {
    margin-top: 35px;
    font-size: 19px;
}

.footer-contact li i {
    margin-left: 7px;
    color: var(--clr-pirmary);
    font-size: 19px;
}